<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

		<title>Rounded Buttons</title>

	</head>
	<body class="bg-grey-lightest">

		<div class="bg-grey-lighter px-6 py-12">

			<h2 class="text-center mb-12">Large Rounded Buttons</h2>

			<div class="container mx-auto flex flex-wrap justify-around">

				<button class="block mb-4 px-6 py-4 text-lg font-bold rounded no-underline hover:shadow-lg hover:shadow-lg bg-green-dark text-white">Large Button</button>
				<button class="block mb-4 px-6 py-4 text-lg font-bold rounded no-underline hover:shadow-lg bg-red-dark text-white">Large Button</button>
				<button class="block mb-4 px-6 py-4 text-lg font-bold rounded no-underline hover:shadow-lg bg-blue-dark text-white">Large Button</button>
				<button class="block mb-4 px-6 py-4 text-lg font-bold rounded no-underline hover:shadow-lg bg-yellow-dark text-white">Large Button</button>
				<button class="block mb-4 px-6 py-4 text-lg font-bold rounded no-underline hover:shadow-lg bg-purple-dark text-white">Large Button</button>

			</div>

		</div>

		<div class="bg-grey-lightest px-6 py-12">

			<h2 class="text-center mb-12">Medium Rounded Buttons</h2>

			<div class="container mx-auto flex flex-wrap justify-around">

				<button class="block mb-4 px-4 py-3 text-sm font-bold rounded no-underline hover:shadow-md bg-green-dark text-white">Medium Button</button>
				<button class="block mb-4 px-4 py-3 text-sm font-bold rounded no-underline hover:shadow-md bg-red-dark text-white">Medium Button</button>
				<button class="block mb-4 px-4 py-3 text-sm font-bold rounded no-underline hover:shadow-md bg-blue-dark text-white">Medium Button</button>
				<button class="block mb-4 px-4 py-3 text-sm font-bold rounded no-underline hover:shadow-md bg-yellow-dark text-white">Medium Button</button>
				<button class="block mb-4 px-4 py-3 text-sm font-bold rounded no-underline hover:shadow-md bg-purple-dark text-white">Medium Button</button>

			</div>

		</div>

		<div class="bg-grey-lighter px-6 py-12">

			<h2 class="text-center mb-12">Small Rounded Buttons</h2>

			<div class="container mx-auto flex flex-wrap justify-around">

				<button class="block mb-4 px-3 py-2 text-xs font-bold rounded no-underline hover:shadow bg-green-dark text-white">Small Button</button>
				<button class="block mb-4 px-3 py-2 text-xs font-bold rounded no-underline hover:shadow bg-red-dark text-white">Small Button</button>
				<button class="block mb-4 px-3 py-2 text-xs font-bold rounded no-underline hover:shadow bg-blue-dark text-white">Small Button</button>
				<button class="block mb-4 px-3 py-2 text-xs font-bold rounded no-underline hover:shadow bg-yellow-dark text-white">Small Button</button>
				<button class="block mb-4 px-3 py-2 text-xs font-bold rounded no-underline hover:shadow bg-purple-dark text-white">Small Button</button>

			</div>

		</div>


	</body>
</html>
