<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

		<title>Contact Us</title>

	</head>
	<body class="bg-pink-lightest font-sans min-h-screen flex items-center justify-center">

		<div class="w-full max-w-lg p-6">
			
			<div class="relative w-full h-full bg-white rounded-lg shadow-lg p-12">

				<h1 class="text-3xl w-48 text-pink-darkest tracking-normal leading-tight uppercase mb-6">Send us a message.</h1>

				<form action="" method="" class="w-2/3 pr-6">
					
					<input type="text" placeholder="Your full name" class="w-full rounded border bg-white px-3 py-2 mb-6 text-sm font-thin" />
					<input type="email" placeholder="Your email address" class="w-full rounded border bg-white px-3 py-2 mb-6 text-sm font-thin" />
					<textarea placeholder="Write your message here" class="w-full rounded border bg-white h-24 px-3 py-2 mb-6 text-sm font-thin"></textarea>

					<div class="flex justify-end">
						<button type="submit" class="rounded bg-pink-lighter shadow-lg uppercase text-pink-darker font-bold text-xs px-6 py-3">Send message</button>
					</div>

				</form>
				
				<div class="absolute pin-b pin-r w-1/2 h-full -mb-16 -mr-32 bg-pink-darker rounded-lg shadow-lg p-12">
					
					<h2 class="text-3xl w-48 text-grey-lightest tracking-normal leading-tight uppercase mb-6">Find our office.</h2>

					<p class="text-xs leading-normal text-pink-lightest">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
					</p>
				</div>

			</div>

		</div>

	</body>
</html>
