<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

	<title>Header 01</title>

</head>

<body class="bg-indigo-100">
	<!-- header -->
	<header class="bg-gray-200 border-b border-gray-200 py-4">
		<div class="container mx-auto">
			<div class="flex items-center">
				<div class="w-1/4">
					<a href="#" class="text-gray-dark no-underline">Admin Template</a>
				</div>
				<div class="flex items-center w-3/4">
					<div class="w-3/4 text-gray-700 text-center">
						<input
							class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
							id="Search" type="text" placeholder="Search">
					</div>
					<div class="w-1/4 text-gray-700 text-right">Howdy, Raunak Hajela</div>
				</div>
			</div>
		</div>
	</header>
	<!-- /header -->

</body>

</html>